@import "~susy/sass/susy";
@import "~libsass-compass-vertical-rhythm/lib/compass_rhythm";
@import "~breakpoint-sass";

html{
    // 專門處理IOS旋轉問題
    -webkit-text-size-adjust: 100%;
    *, *:before, *:after {
        //@include user-select(none);
        @include adjust-font-size-to($base-font-size);
        color: $darkColor;
        font-family: "Century Gothic", "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif";
        //verdana
    }
}

html, body {
    width: 100%;
    height: 100%;
    min-width: $mainWidth;
}

//===== PC版 =====





//===== RWD變版 =====

//非 IE8 專用
@include breakpoint(0px) {
    html, body {
        min-width: 320px;
    }
}
//Pad 專用
@include breakpoint(max-width 980px) {
    html, body {
    }
}
//Phone 專用
@include breakpoint(max-width 720px) {
    html, body {
    }
}

// ===== 雄獅天地的fix css =====

// body{
//     padding-top: 35px;
// }


// #lionhead,#lionfooter{
//     *{
//         font-size: 12px !important;
//     }
// }


// @include breakpoint(max-width 980px) {
//     body{
//         padding-top: 0 !important;
//     }
//     #lionhead,#lionfooter{
//         display: none;
//     }
// }



