// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------
// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'imgupload';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code
.#{$classname} {
	body{
		background-color: black;
		box-sizing: border-box;
	}
	input[type="file"] {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
	.custom-file-upload {
		display: inline-block;
		cursor: pointer;
		margin: 10px 0px;
		padding: 10px 10px;
		background-color: #00BCD4;
		box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.56);
		@media (max-width: 600px) {
			width: 100%;
		}
	}

	.toolbar{
		overflow: hidden;
		>.btn,
		a {
			background-color: white;
			border: 0px;
			color: grey;
			box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.56);
			padding: 10px 30px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 0px;
			cursor: pointer;
			@media (max-width: 600px) {
				float: left;
				display: block;
				padding: 10px 0px;
				width: 100%;
			}
			&:hover {
				color: black;
				border-style: solid;
			}
		}
	}

	.imgcontainer {
		width: 100%;
		height: 100%;
		canvas {
			background-color: rgba(225, 225, 225, 0.5);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%)
		}
		#imgBox {
			position: relative;
			height: 100%;
			cursor: move;
			-moz-user-select: none;
			-o-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none
		}
	}


	// style on phone device
	@media screen and (min-width: $screen-tablet) {
		// style on tablet device
	}
	@media screen and (min-width: $screen-desktop) {
		// style on desktop device
	}
	@media screen and (min-width: $screen-lg-desktop) {
		// style on desktop device
	}
	&.#{$classname}_modifier {
		
	}
	& > .#{$classname}_child {
		
	}
	& .#{$classname}_descendant {

	}
}